/*

!.gitignore

!config/
config/*
!config/openloader/
config/openloader/*
!config/openloader/resources/
!config/the_vault/
!config/vaultpatcher_asm/

!packmenu/

!patchouli_books/

!scripts/
scripts/*
!scripts/createbugfix.zs
!scripts/jeiInformation.zs

!mods/
mods/*
!mods/create*.jar
!mods/tac*.jar
!mods/parcool*.jar
!mods/kubejs*.jar
!mods/rhino*.jar
!mods/framework*.jar
!mods/ftb-ulti*.jar
!mods/ftb-lib*.jar
!mods/*delight*.jar
!mods/fly*.jar

!mods/i18*.jar
!mods/vaultpatcher*.jar

!kubejs/
kubejs/*
!kubejs/server_scripts/
!kubejs/startup_scripts/
!kubejs/client_scripts/
!kubejs/data/
!kubejs/assets/
kubejs/assets/the_vault/textures/item/gear/armor/royal_golden